img.box {
  width: 100%;
  border-radius: 5px;
}

.box-left {
  position: relative;
  left: 7%;
  width: 27%;
}

.box-middle {
  position: relative;
  left: 39%;
  width: 27%;
}

.blur {
  border-image: url(SUNSETCUBA.jpg);
  padding: 10px;
  background-size: cover;
  filter: blur(0px);
}

.box-right {
  position: relative;
  left: 64%;
  width: 27%;
}

.text {
}
